@using relation.ViewModels.Student
@model CreateStudentFormVM

<div asp-validation-summary="All"></div>

<form asp-action="Create" asp-controller="Student" method="post">

	<input type="text" asp-for="Student.Name" placeholder="Name" />
	<br />
	<input type="text" asp-for="Student.Address" placeholder="Address" />
	<br />
	<input type="text" asp-for="Student.Phone" placeholder="Phone" />
	<br />

	<select asp-for="Student.SecilenKursIdleri" asp-items="Model.Courses" multiple>
		<option value="">Kursları Seçiniz</option>
	</select>

	<button>EKle</button>
</form>