@model KitapProje.Models.ViewModels.KitapViewModels.KitapEkleFormVM

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>KitapEkleVM</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Kitap.Ad" class="control-label"></label>
				<input asp-for="Kitap.Ad" class="form-control" />
				<span asp-validation-for="Kitap.Ad" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Kitap.Fiyat" class="control-label"></label>
				<input asp-for="Kitap.Fiyat" class="form-control" />
				<span asp-validation-for="Kitap.Fiyat" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Kitap.Ozet" class="control-label"></label>
				<input asp-for="Kitap.Ozet" class="form-control" />
				<span asp-validation-for="Kitap.Ozet" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Kitap.SayfaSayisi" class="control-label"></label>
				<input asp-for="Kitap.SayfaSayisi" class="form-control" />
				<span asp-validation-for="Kitap.SayfaSayisi" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Kitap.KategoriIdleri" class="control-label"></label>
				
				<select class="form-select" asp-for="Kitap.KategoriIdleri" asp-items="Model.Kategoriler" multiple>

				</select>
				<span asp-validation-for="Kitap.KategoriIdleri" class="text-danger"></span>
			</div>
			@*     <div class="form-group">
                <label asp-for="Kitap.UserId" class="control-label"></label>
                <input asp-for="Kitap.UserId" class="form-control" />
                <span asp-validation-for="Kitap.UserId" class="text-danger"></span>
            </div> *@
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
