@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">
        <a href="~/state/">State</a>
    </h2>
    <h2 class="display-4">
        <a href="~/sepet/">Sepet</a>
    </h2>
</div>
