@model WebApplication1.Models.ViewModels.Kitap.KitapEkleViewModel

<h2>Yeni Kitap Ekle</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Ad</label>
        <input asp-for="Ad" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Fiyat</label>
        <input asp-for="Fiyat" class="form-control" />
        <span asp-validation-for="Fiyat" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Sayfa Sayısı</label>
        <input asp-for="SayfaSayisi" class="form-control" />
        <span asp-validation-for="SayfaSayisi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Özet</label>
        <textarea asp-for="Ozet" class="form-control"></textarea>
        <span asp-validation-for="Ozet" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Kategoriler</label><br />
        @foreach (var kategori in Model.TumKategoriler)
        {
            <input type="checkbox" name="SeciliKategoriIdleri" value="@kategori.Id" />
            <label>@kategori.Ad</label>

            <br />
        }
    </div>

    <button type="submit" class="btn btn-primary">Ekle</button>
</form>
