@using relation.ViewModels.Course
@model CourseCreateFormVM
<div asp-validation-summary="All">

</div>
<form asp-action="Create" asp-controller="Course" method="post">
	<input type="text" asp-for="Course.CourseName" />

	<select asp-for="Course.InstructorId" asp-items="Model.Instructors">
		<option value="">Eğitmen Seçiniz</option>
	</select>

	<button>Gönder</button>
</form>