@model Kitap.Models.VM.KitapGuncelleForm_VM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KitapGuncelle_VM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Kitap.Id" />
            <input type="hidden" asp-for="Kitap.KapakResmi" />
            
            <div class="form-group">
                <label asp-for="Kitap.Ad" class="control-label"></label>
                <input asp-for="Kitap.Ad" class="form-control" />
                <span asp-validation-for="Kitap.Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Fiyat" class="control-label"></label>
                <input asp-for="Kitap.Fiyat" class="form-control" />
                <span asp-validation-for="Kitap.Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.KapakResmi" class="control-label"></label>
                <br />
                <img src="~/Resimler/@Model.Kitap.KapakResmi" alt="@Model.Kitap.KapakResmi" width="100"/>
                <span asp-validation-for="Kitap.KapakResmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.KapakResmiDosyasi" class="form-label">Kapak Resmi Yükle</label>
                <input asp-for="Kitap.KapakResmiDosyasi" class="form-control" type="file">
            </div>
            <div class="form-group">
                <label asp-for="Kitap.Ozet" class="control-label"></label>
                <input asp-for="Kitap.Ozet" class="form-control" />
                <span asp-validation-for="Kitap.Ozet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.SayfaSayisi" class="control-label"></label>
                <input asp-for="Kitap.SayfaSayisi" class="form-control" />
                <span asp-validation-for="Kitap.SayfaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.YayinEviId" class="control-label"></label>
                @* <input asp-for="Kitap.YayinEviId" class="form-control" /> *@
                <select asp-for="Kitap.YayinEviId" asp-items="@Model.YayinEvis" class="form-select" aria-label="Default select example">
                    <option selected>Yayinevi Seçiniz</option>
                </select>
                <span asp-validation-for="Kitap.YayinEviId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.KategoriId" class="control-label"></label>
                @* <input asp-for="Kitap.KategoriId" class="form-control" /> *@
                <select asp-for="Kitap.KategoriId" asp-items="@Model.Kategoriler" class="form-select" aria-label="Default select example">
                    <option selected>Kategori Seçiniz</option>
                </select>
                <span asp-validation-for="Kitap.KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kitap.YazarId" class="control-label"></label>
                @* <input asp-for="Kitap.YazarId" class="form-control" /> *@
                <select asp-for="Kitap.YazarId" asp-items="@Model.Yazarlar" class="form-select" aria-label="Default select example">
                    <option selected>Yazar Seçiniz</option>
                </select>
                <span asp-validation-for="Kitap.YazarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
