@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3><a asp-action="Index" asp-controller="Home">Home</a></h3>
    <h3><a asp-action="Index" asp-controller="Login">Login</a></h3>
    <h3><a asp-area="UyePanel" asp-action="Index" asp-controller="Panel" >Üye Panel</a></h3>
    <h3><a asp-area="AdminPanel" asp-action="Index" asp-controller="Panel" >Admin Panel</a></h3>
</div>
