@model WebApplication3.Areas.Admin.Models.ViewModels.HaberEkleForm_VM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HaberEkle_VM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Haber.Baslik" class="control-label"></label>
                <input asp-for="Haber.Baslik" class="form-control" />
                <span asp-validation-for="Haber.Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haber.Detay" class="control-label"></label>
                <input asp-for="Haber.Detay" class="form-control" />
                <span asp-validation-for="Haber.Detay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haber.ResimYolu" class="control-label"></label>
                <input asp-for="Haber.ResimYolu" class="form-control" />
                <span asp-validation-for="Haber.ResimYolu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haber.KategoriId" asp-items="@Model.Kategoriler" class="control-label"></label>
                <select asp-for="Haber.KategoriId" asp-items="@Model.Kategoriler" class="form-select" aria-label="Default select example">
                    <option selected>Kategori Seçiniz</option>
                </select>
                <span asp-validation-for="Haber.KategoriId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
