<form method="get" asp-action="VerileriYakala_GET">
    <input type="text" id="ad" name="ad"/>
    <input type="text" id="soyad" name="soyad" />
    <input type="text" id="yas" name="yas"/>
    <input type="submit" value="Gönder" />
</form>